.HomeContainer {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
}

.HomeMainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.HomeContainerText {
  max-width: 26rem;
}

.HomeAboutUsText {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.1rem;
  color: white;
}

@media (min-width: 1024) {
  .HomeContainerText {
    max-width: 56rem;
  }

  .HomeAboutUsText {
    font-size: 3rem;
  }
}
